#load {
    width: 100%;
    height: 100%;
    background: #3C3E75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 500;
}

#load #loading {
    width: 100%;
    height: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

#load #loading .ct--load {
    width: 15px;
    height: 15px;
    background: #FFF;
    border-radius: 50%;
    margin-right: 15px;
    opacity: 0;
}

#load #loading .ct--load:nth-child(1) {
    animation: load 3s 700ms ease-in-out infinite;
}

#load #loading .ct--load:nth-child(2) {
    animation: load 3s 600ms ease-in-out infinite;
}

#load #loading .ct--load:nth-child(3) {
    animation: load 3s 500ms ease-in-out infinite;
}

#load #loading .ct--load:nth-child(4) {
    animation: load 3s 400ms ease-in-out infinite;
}

#load #loading .ct--load:nth-child(5) {
    animation: load 3s 300ms ease-in-out infinite;
}

#load #loading .ct--load:nth-child(6) {
    animation: load 3s 200ms ease-in-out infinite;
}

@keyframes load {
    0% {transform: translateX(-400px); opacity: 0;}
    30% {opacity: 0.8;}
    40%, 60% {transform: translateX(0); opacity: 1;}
    70% {opacity: 0.8;}
    100%{transform: translateX(400px); opacity: 0;}
}

#load p {
    width: 100%;
    color: #dedede;
    font-size: 1.5em;
    position: absolute;
    padding-top: 70px;
    opacity: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    animation: fadeBounce 3s 500ms ease-in-out infinite;
}

@keyframes fadeBounce {
    0% {opacity: 0;}
    50%{opacity: 0.7;}
    100%{opacity: 0;}
}