@media all and (max-height: 850px) {

    #site_content {
        height: 100vh;
    }

    #site_content #menu {
        width: 250px;
        height: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #site_content #menu .logoImg {
        width: 200px;
    }

    #site_content #menu #socialMenu {
        height: 300px;
    }

    #site_content #socialMenu .menu_content .nav .social {
        height: 40px;
        margin-bottom: 20px;
        font-size: 1em;
        font-weight: bold;
        line-height: 40px;
    }

    #site_content #socialMenu .menu_content .nav .icon {
        width: 40px;
        height: 40px;
    }

    #formModule .module .contact-form form .submit-form {
        margin-bottom: 70px;
    }



}

@media all and (max-height: 600px) {
    #site_content {
        overflow: initial;
    }

    #site_content #menu {
        margin-bottom: 30px;
    }

    footer {
        height: 20px;
    }

    #footer #footerElt {
        bottom: 2px;
    }
}





@media all and (max-width: 500px) {

    html body {
        background: linear-gradient(to right,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.9)
        ), url("../asset/background/tetuna_background_credit_batvision_mobile.jpg") no-repeat fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #site_content {
        width: 100vh;
        height: 500px;
        margin-bottom: 20px;
        justify-content: initial;
    }

    #site_content #menu {
        width: 100%;
        padding-top: 10px;
        right: initial;
        justify-content: initial;
        position: absolute;
        overflow: hidden;
    }

    #site_content #socialMenu {
        display: flex;
        justify-content: center;
    }

    #site_content #menu .logoImg {
        width: 200px;
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    #site_content #socialMenu .menu_content .nav{
        height: 40px;
    }

    #site_content #socialMenu .menu_content .nav .social {
        font-size: 1em;
        color: #999;
        line-height: 30px;
    }

    #site_content #socialMenu .menu_content {
        width: 80%;
        height: 50px;
    }

    #site_content #socialMenu .menu_content .nav .icon {
        width: 30px;
        height: 30px;
    }

    #aboutMeModule .module .about_me p {
        font-size: 1em;
    }

    #formModule .module .contact-form h3 {
        font-size: 1.5em;
    }

    #formModule .module .contact-form form .form-input {
        width: 85%;
    }

    #formModule .module .contact-form form .submit-form {
        width: 85%;
    }

    #formModule .module .contact-form form textarea {
        width: 85%;
    }

    .close {
        padding-top: 15px;
    }

    #releaseModule .module {
        padding-top: 50px;
    }

    #releaseModule .module .section {
        width: initial;
    }

    #releaseModule .module .section .elt {
        margin: auto;
    }

    #formModule .module .contact-form form {
        margin-bottom: 30px;
    }

    footer {
        display: none;
    }
}