
/* ----         ---- *\
|       GENERAL       |
\* ----         ---- */

@import url("https://fonts.googleapis.com/css?family=Roboto");

html body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;


    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.05),
            rgba(0, 0, 0, 0.9)
    ), url("../asset/background/tetuna_background_credit_batvision.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
    user-select: none; /* Propriété standard */
}

a {
    text-decoration: none;
    color: #999;
    transition: all 0.2s;
}

a:hover {
    color: #FFF;
}

#site_content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
}










/* ---- MENU ---- */

#site_content #menu {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 100px;
}

#site_content #menu .logoImg {
    width: 350px;
    margin: auto;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

#site_content #socialMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#site_content #socialMenu .menu_content .nav .social {
    text-transform: uppercase;
    color: #999;
    font-size: 2em;
    margin-right: 50px;
    line-height: 60px;
    vertical-align: middle;
    transition: all 0.3s;
}

#site_content #socialMenu .menu_content .nav .icon {
    width: 60px;
    height: 60px;
}

#site_content #socialMenu .menu_content .nav {
    height: 60px;
    display: flex;
    animation: translateHover 3s ease-in-out;
    transition: all 0.3s;
}

@keyframes translateHover {from {opacity: 0; transform: translateX(-100px);} to {opacity: 1; transform: translateX(0);}}


#site_content #socialMenu .menu_content {
    width: 100%;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

#site_content #socialMenu .menu_content:hover {
    transform: translateX(-25px);
}

#site_content #socialMenu .menu_content .nav .social:hover {
    color: #FFFFFF;
}







/* ----         ---- *\
|       OVERLAY       |
\* ----         ---- */

.overlay {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: linear-gradient(
            rgba(0, 0, 0, 0.95),
            rgba(0, 0, 0, 0.95)
    );
    color: #FFFFFF;
    display: none;
    overflow: auto;
}

.overlay #formModule {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
}




/* ---- CLOSE BUTTON ---- */

.overlay .close {
    width: 90%;
    position: fixed;
    padding-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.overlay .closeBtn {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.3s;
}

.overlay .closeBtn:hover {
    width: 30px;
    height: 30px;
    animation: spin 0.3s linear;
}

@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }








/* ---- OVERLAY ABOUT ME ---- */

#aboutMeModule .module {
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutMeModule .module .about_me h3 {
    font-size: 2.5em;
}

#aboutMeModule .module .about_me p {
    font-size: 1.5em;
}

#aboutMeModule .module .about_me .logoAbout .logoImgAbout {
    width: 200px;
}





/* ---- OVERLAY GALLERY ---- */

#galleryModule .module {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
}

#galleryModule .module #gallery {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#galleryModule .module #gallery img {
    width: 300px;
    padding: 0 20px 20px 20px;
}






/* ---- OVERLAY RELEASE ---- */

#releaseModule .module {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#releaseModule .module iframe {
    width: 70%;
    height: 300px;
    margin: 40px 0 60px;
}

#releaseModule .module h2 {
    width: 250px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    /*border: solid 2px #FFFFFF;
    border-radius: 5px;*/
    padding: 10px 0 10px 0;
    text-transform: uppercase;
}

#releaseModule .module .ligne {
    width: 80%;
    height: 1px;
    background: linear-gradient( 90deg,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
    );
}

#releaseModule .module .section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

#releaseModule .module .section .elt {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 30px;
}

#releaseModule .module .section .elt .main_cover {
    padding-bottom: 30px;
}

#releaseModule .module .section .elt .cover {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    transition: 0.3s all ease-in-out;
}

#releaseModule .module .section .elt .title {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

#releaseModule .module .section .elt .date {
    font-size: 0.8em;
    text-align: right;
    margin-bottom: 20px;
}

#releaseModule .module .section .elt .store {
    text-align: center;
}







/* ---- OVERLAY BOOKING ---- */

#formModule .module {
    padding-top: 30px;
}

#formModule .module .contact-form {
    width: 100%;
    height: 100%;
    text-align: center;
}

#formModule .module .contact-form #logoForm .logoImgForm {
    width: 200px;
}

#formModule .module .contact-form h3 {
    font-size: 2.5em;
}

#formModule .module .contact-form #msg {
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
}

#formModule .module .contact-form #msg .send-msg-v {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
    font-size: 1.5em;
    text-align: center;
    color: greenyellow;
    display: none;
    transition: all 0.3s ease-in-out;
}

#formModule .module .contact-form #msg .send-msg-n {
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
    font-size: 1.5em;
    text-align: center;
    color: red;
    display: none;
    transition: all 0.3s ease-in-out;
}


#formModule .module .contact-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formModule .module .contact-form form input {
    font-size: 1em;
    width: 470px;
    height: 40px;
    padding: 0 15px 0 15px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;

    background: #000;
    outline: none;
    color: #ccc;

    border: solid 2px #333;
    border-radius: 5px;


    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

#formModule .module .contact-form form input:focus {
    border: solid 2px #3C3E75;
}

#formModule .module .contact-form form input:hover {
    border: solid 2px #999;
}

#formModule .module .contact-form form textarea {
    font-size: 1em;
    width: 470px;
    padding: 10px 15px 0 15px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;

    background: #000;
    outline: none;
    color: #ccc;

    border: solid 2px #333;
    border-radius: 5px;


    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

#formModule .module .contact-form form textarea:focus {
    border: solid 2px #3C3E75;
}

#formModule .module .contact-form form textarea:hover {
    border: solid 2px #999;
}

#formModule .module .contact-form form .g-recaptcha {
    margin-bottom: 20px;
}


#formModule .module .contact-form form .submit-form {
    font-weight: bold;
}

#formModule .module .contact-form form .submit-form:hover {
    background: #999;
    color: #000;
    cursor: pointer;
}









/* ---- FOOTER ---- */

footer {
    background: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
    );
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    font-size: 0.65em;
    color: #666;
    display: flex;
    align-items: center;
}

footer .footerElt {
    width: 50%;
}

footer .footerElt:nth-child(1) {
    color: #999;
    margin-left: 20px;
}

footer .footerElt:nth-child(2) {
    position: relative;
    right: 40px;
    display: flex;
    justify-content: flex-end;
}

footer .footerElt .footerLink {
    margin-right: 20px;
}

