html body {
  #site_content {
    #aboutMeModule {
      .module {
        width: 70%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .about_me {
          h3 {
            font-size: 2.5em;
          }

          p {
            font-size: 1.5em;
          }

          .logoAbout {
            .logoImgAbout {
              width: 200px;
            }
          }
        }
      }
    }
  }
}