$maxWidth500px: "all and (max-width: 500px)";
$maxHeight600px: "all and (max-height: 600px)";
$maxHeight850px: "all and (max-height: 850px)";
$maxHeight500px: "all and (max-height: 500px)";

#formModule {
  .module {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }
  .contact-form {
    width: 100%;
    height: 100%;
    text-align: center;

    .logoImgForm {
      width: 200px;
    }

    h3 {
      font-size: 2.5em;
      @media #{$maxWidth500px} {
        font-size: 1.5em;
      }
    }

    #msg {
      width: 100%;
      height: 0;
      transition: all 0.3s ease-in-out;

      .send-msg-v {
        width: 100%;
        margin: auto;
        padding-bottom: 30px;
        font-size: 1.5em;
        text-align: center;
        color: greenyellow;
        display: none;
        transition: all 0.3s ease-in-out;
      }

      .send-msg-n {
        width: 100%;
        margin: auto;
        padding-bottom: 30px;
        font-size: 1.5em;
        text-align: center;
        color: red;
        display: none;
        transition: all 0.3s ease-in-out;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media #{$maxWidth500px} {
        margin-bottom: 30px;
      }

      input {
        font-size: 1em;
        width: 470px;
        height: 40px;
        padding: 0 15px 0 15px;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;

        background: #000;
        outline: none;
        color: #ccc;

        border: solid 2px #333;
        border-radius: 5px;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        @media #{$maxWidth500px} {
          width: 85%;
        }

        &:focus {
          border: solid 2px #3C3E75;
        }

        &:hover {
          border: solid 2px #999;
        }
      }

      textarea {
        font-size: 1em;
        width: 470px;
        padding: 10px 15px 0 15px;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;

        background: #000;
        outline: none;
        color: #ccc;

        border: solid 2px #333;
        border-radius: 5px;

        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        @media #{$maxWidth500px} {
          width: 85%;
        }

        &:focus {
          border: solid 2px #3C3E75;
        }

        &:hover {
          border: solid 2px #999;
        }
      }

      .submit-form {
        font-weight: bold;
        @media #{$maxWidth500px}{
          width: 85%;
        }
        @media #{$maxHeight850px} {
          margin-bottom: 70px;
        }

        &:hover {
          background: #999;
          color: #000;
          cursor: pointer;
        }
      }
    }
  }
}