html body {
  #site_content {
    #galleryModule {
      .module {
        width: 95%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
        display: flex;

        #gallery {
          width: 100%;
          margin-top: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          img {
            width: 300px;
            padding: 0 20px 20px 20px;
          }
        }
      }
    }
  }
}