@keyframes spin { 100% { transform: rotate(90deg); } }
@-o-keyframes spin { 100% { -o-transform: rotate(90deg); } }
@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }

@keyframes translateHover {from {opacity: 0; transform: translateX(-100px);} to {opacity: 1; transform: translateX(0);}}
@-o-keyframes translateHover {from {opacity: 0; -o-transform: translateX(-100px);} to {opacity: 1; -o-transform: translateX(0);}}
@-moz-keyframes translateHover {from {opacity: 0; -moz-transform: translateX(-100px);} to {opacity: 1; -moz-transform: translateX(0);}}
@-webkit-keyframes translateHover {from {opacity: 0; -webkit-transform: translateX(-100px);} to {opacity: 1; -webkit-transform: translateX(0);}}

@keyframes load {
  0% {transform: translateX(-400px); opacity: 0;}
  30% {opacity: 0.8;}
  40%, 60% {transform: translateX(0); opacity: 1;}
  70% {opacity: 0.8;}
  100%{transform: translateX(400px); opacity: 0;}
}

@-o-keyframes load {
  0% {transform: translateX(-400px); opacity: 0;}
  30% {opacity: 0.8;}
  40%, 60% {transform: translateX(0); opacity: 1;}
  70% {opacity: 0.8;}
  100%{transform: translateX(400px); opacity: 0;}
}

@-moz-keyframes load {
  0% {transform: translateX(-400px); opacity: 0;}
  30% {opacity: 0.8;}
  40%, 60% {transform: translateX(0); opacity: 1;}
  70% {opacity: 0.8;}
  100%{transform: translateX(400px); opacity: 0;}
}

@-webkit-keyframes load {
  0% {transform: translateX(-400px); opacity: 0;}
  30% {opacity: 0.8;}
  40%, 60% {transform: translateX(0); opacity: 1;}
  70% {opacity: 0.8;}
  100%{transform: translateX(400px); opacity: 0;}
}
