html body {
  #load {
    width: 100%;
    height: 100%;
    background: #3C3E75;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    z-index: 500;

    #loading {
      width: 100%;
      height: 15px;
      margin: auto;
      display: flex;
      justify-content: center;
      color: #FFFFFF;

      .ct--load {
        width: 15px;
        height: 15px;
        background: #FFF;
        border-radius: 50%;
        margin-right: 15px;
        opacity: 0;

        &:nth-child(1) {
          animation: load 3s 700ms ease-in-out infinite;
        }

        &:nth-child(2) {
          animation: load 3s 600ms ease-in-out infinite;
        }

        &:nth-child(3) {
          animation: load 3s 500ms ease-in-out infinite;
        }

        &:nth-child(4) {
          animation: load 3s 400ms ease-in-out infinite;
        }

        &:nth-child(5) {
          animation: load 3s 300ms ease-in-out infinite;
        }

        &:nth-child(6) {
          animation: load 3s 200ms ease-in-out infinite;
        }
      }
    }
  }
}