@media all and (max-width: 400px) {
  html body {
    background: #232323 !important;

    #site_content {
      width: 100vh !important;
      height: 500px;
      margin-bottom: 0 !important;
      justify-content: initial !important;

      #menu {
        width: 100% !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
        right: initial !important;
        justify-content: initial !important;
        position: absolute !important;
        overflow: hidden;

        #mobileMenu {
          width: 100%;
          height: 40px;
          background: #3C3E75;
          display: flex !important;

          .mobileMenuImg {
            width: 50%;
            height: 40px;

            &:nth-child(1) {
              padding-left: 10px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }

            &:nth-child(2) {
              padding-right: 10px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }

            svg {
              width: 30px;
              height: 30px;
              &:hover {
                cursor: pointer;
              }
            }

            .arrowImg {
              display: none !important;
            }
          }

        }

        .logoImg {
          width: 200px !important;
          padding-top: 10px !important;
          padding-bottom: 0 !important;
          margin-bottom: 10px !important;
        }

        .view--mob {
          width: 200px;
          height: 160px !important;
          margin: auto;
          display: block !important;

          .mob {
            display: flex;

            .menu_content {
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                width: 80px;
                height: 80px;

                &:hover {
                  cursor: pointer;
                }

                svg path {
                  fill: #FFFFFF;
                }
              }
            }

          }
        }



        #socialMenu {
          display: none !important;
        }
      }

      .overlay {
        #mobileMenu {
          width: 100%;
          height: 40px;
          background: #3C3E75;
          display: flex !important;

          .mMImg {
            width: 50%;
            height: 40px;

            &:nth-child(1) {
              padding-left: 10px;
              display: flex;
              justify-content: flex-start;
              align-items: center;
            }

            &:nth-child(2) {
              padding-right: 10px;
              display: flex;
              justify-content: flex-end;
              align-items: center;
            }

            img {
              width: 30px;
              height: 30px;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    footer {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      height: 55px !important;

      .footerElt {
        width: 100% !important;

        &:nth-child(1) {
          width: 100% !important;
          margin: auto !important;
          text-align: center !important;
        }

        &:nth-child(2) {
          width: 100% !important;
          right: 0 !important;
          display: block !important;
          margin: auto !important;
        }

        .footerLink {
          width: 100% !important;
          margin: auto !important;
          text-align: center !important;
        }
      }
    }
  }
}
