html body {
  #site_content {
    #releaseModule {
      .module {
        width: 100%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        iframe {
          width: 70%;
          height: 300px;
          margin: 40px 0 60px;
        }

        h2 {
          width: 250px;
          margin: auto;
          text-align: center;
          font-size: 2em;
          font-weight: bold;
          padding: 10px 0 10px 0;
          text-transform: uppercase;
        }

        .ligne {
          width: 80%;
          height: 1px;
          background: linear-gradient(90deg,
                  rgba(255, 255, 255, 0),
                  rgba(255, 255, 255, 1),
                  rgba(255, 255, 255, 0)
          );
        }

        .section {
          width: 80%;
          margin: auto;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          padding: 50px;

          .elt {
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-bottom: 30px;

            .main_cover {
              padding-bottom: 30px;
            }

            .cover {
              width: 200px;
              height: 200px;
              display: block;
              margin: auto;
              transition: 0.3s all ease-in-out;
            }

            .title {
              font-size: 1em;
              font-weight: bold;
              text-align: center;
              text-transform: uppercase;
            }

            .date {
              font-size: 0.8em;
              text-align: right;
              margin-bottom: 20px;
            }

            .store {
              text-align: center;
            }
          }
        }
      }
    }
  }
}