@media all and (max-height: 850px) {
  #site_content {
    height: 100vh; }
    #site_content #menu {
      width: 250px;
      height: 100%;
      margin-top: 10px;
      margin-bottom: 20px; }
      #site_content #menu .logoImg {
        width: 200px; }
      #site_content #menu #socialMenu {
        /*height: 500px !important;*/ }
        #site_content #menu #socialMenu .menu_content {
          height: 40px; }
          #site_content #menu #socialMenu .menu_content .nav {
            height: 40px; }
            #site_content #menu #socialMenu .menu_content .nav .nm {
              height: 40px;
              margin-bottom: 20px;
              font-size: 1em;
              font-weight: bold;
              line-height: 40px; }
            #site_content #menu #socialMenu .menu_content .nav .icon {
              width: 40px;
              height: 40px; }
            #site_content #menu #socialMenu .menu_content .nav svg {
              width: 30px;
              height: 30px; }
    #site_content #formModule .module .contact-form form .submit-form {
      margin-bottom: 70px; } }
@media all and (max-height: 600px) {
  #site_content {
    overflow: initial; }

  #site_content #menu {
    margin-bottom: 30px; }

  footer {
    height: 20px; }

  footer #footerElt {
    bottom: 2px; } }
/*
@media all and (max-width: 500px) {

  html body {
    background: linear-gradient(to right,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.9)
    ), url("../../asset/background/tetuna_background_credit_batvision_mobile.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #site_content {
    width: 100vh !important;
    height: 500px;
    margin-bottom: 20px !important;
    justify-content: initial !important;
  }

  #site_content #menu {
    width: 100% !important;
    padding-top: 10px;
    right: initial !important;
    justify-content: initial !important;
    position: absolute !important;
    overflow: hidden;
  }

  #site_content #socialMenu {
    display: flex !important;
    justify-content: center !important;
  }

  #site_content #menu .logoImg {
    width: 200px !important;
    padding-bottom: 0 !important;
    margin-bottom: 10px !important;
  }

  #site_content #socialMenu .menu_content .nav{
    height: 40px !important;
  }

  #site_content #socialMenu .menu_content .nav .nm {
    font-size: 1em !important;
    color: #999 !important;
    line-height: 30px !important;
  }

  #site_content #socialMenu .menu_content {
    width: 80% !important;
    height: 50px !important;
  }

  #site_content #socialMenu .menu_content .nav .icon {
    width: 30px !important;
    height: 30px !important;
  }

  #aboutMeModule .module .about_me p {
    font-size: 1em !important;
  }

  #formModule .module .contact-form h3 {
    font-size: 1.5em !important;
  }

  #formModule .module .contact-form form .form-input {
    width: 85% !important;
  }

  #formModule .module .contact-form form .submit-form {
    width: 85% !important;
  }

  #formModule .module .contact-form form textarea {
    width: 85% !important;
  }

  .close {
    padding-top: 15px !important;
  }

  #releaseModule .module {
    padding-top: 50px !important;
  }

  #releaseModule .module .section {
    width: initial !important;
  }

  #releaseModule .module .section .elt {
    margin: auto !important;
  }

  #formModule .module .contact-form form {
    margin-bottom: 30px !important;
  }

  footer {
    display: none !important;
  }
}*/

/*# sourceMappingURL=mediaQuery.css.map */
