/* ----         ---- *\
|       GENERAL       |
\* ----         ---- */


@import "_keyframes";
@import "_load";
@import "_aboutOverlay";
@import "_galleryOverlay";
@import "_releaseOverlay";
@import "_bookingOverlay";
@import "_mobileApp";

@import url("https://fonts.googleapis.com/css?family=Roboto");

html body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  background: linear-gradient(to right,
          rgba(0, 0, 0, 0.05),
          rgba(0, 0, 0, 0.9)
  ), url("../../asset/background/tetuna_background_credit_batvision.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;


  a {
    text-decoration: none;
    color: #999;
    transition: all 0.2s;

    &:hover {
      color: #FFF;
    }
  }

  #site_content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 1;


    /* ----      ---- *\
    |       MENU       |
    \* ----      ---- */

    #menu {
      width: 350px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100px;

      #mobileMenu {
        display: none;
      }

      .view--mob {
        display: none;
      }


      .logoImg {
        width: 350px;
        margin: auto;
        padding-bottom: 30px;
        display: flex;
        justify-content: center;
      }

      #socialMenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .menu_content {
          width: 100%;
          height: 80px;
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          transition: all 0.3s ease-in-out;

          &:hover {
            transform: translateX(-25px);
          }

          .nav {
            height: 60px;
            display: flex;
            animation: translateHover 3s ease-in-out;
            transition: all 0.3s;

            .nm {
              text-transform: uppercase;
              color: #eaeaea;
              font-size: 2em;
              margin-right: 50px;
              line-height: 60px;
              vertical-align: middle;
              transition: all 0.3s;
            }

            svg {
              width: 50px;
              height: 50px;
              fill: #eaeaea;
            }
          }
        }
      }
    }






    /* ----         ---- *\
    |       OVERLAY       |
    \* ----         ---- */

    .overlay {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      background: linear-gradient(
                      rgba(0, 0, 0, 0.95),
                      rgba(0, 0, 0, 0.95)
      );
      color: #FFFFFF;
      display: none;
      overflow: auto;

      .close {
        width: 90%;
        position: fixed;
        padding-top: 40px;
        display: flex;
        justify-content: flex-end;

      }
      .closeBtn {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          width: 30px;
          height: 30px;
          animation: spin 0.3s linear;
        }
      }
    }
  }

  /* ----        ---- *\
  |       FOOTER       |
  \* ----        ---- */

  footer {
    background: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 1)
    );
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    font-size: 0.65em;
    color: #666;
    display: flex;
    align-items: center;

    .footerElt {
      width: 50%;

      &:nth-child(1) {
        color: #999;
        margin-left: 20px;
      }

      &:nth-child(2) {
        position: relative;
        right: 40px;
        display: flex;
        justify-content: flex-end;
      }

      .footerLink {
        margin-right: 20px;
      }
    }
  }
}
