/* ----         ---- *\
|       GENERAL       |
\* ----         ---- */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@keyframes spin {
  100% {
    transform: rotate(90deg); } }
@-o-keyframes spin {
  100% {
    -o-transform: rotate(90deg); } }
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(90deg); } }
@keyframes translateHover {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@-o-keyframes translateHover {
  from {
    opacity: 0;
    -o-transform: translateX(-100px); }
  to {
    opacity: 1;
    -o-transform: translateX(0); } }
@-moz-keyframes translateHover {
  from {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  to {
    opacity: 1;
    -moz-transform: translateX(0); } }
@-webkit-keyframes translateHover {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  to {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@keyframes load {
  0% {
    transform: translateX(-400px);
    opacity: 0; }
  30% {
    opacity: 0.8; }
  40%, 60% {
    transform: translateX(0);
    opacity: 1; }
  70% {
    opacity: 0.8; }
  100% {
    transform: translateX(400px);
    opacity: 0; } }
@-o-keyframes load {
  0% {
    transform: translateX(-400px);
    opacity: 0; }
  30% {
    opacity: 0.8; }
  40%, 60% {
    transform: translateX(0);
    opacity: 1; }
  70% {
    opacity: 0.8; }
  100% {
    transform: translateX(400px);
    opacity: 0; } }
@-moz-keyframes load {
  0% {
    transform: translateX(-400px);
    opacity: 0; }
  30% {
    opacity: 0.8; }
  40%, 60% {
    transform: translateX(0);
    opacity: 1; }
  70% {
    opacity: 0.8; }
  100% {
    transform: translateX(400px);
    opacity: 0; } }
@-webkit-keyframes load {
  0% {
    transform: translateX(-400px);
    opacity: 0; }
  30% {
    opacity: 0.8; }
  40%, 60% {
    transform: translateX(0);
    opacity: 1; }
  70% {
    opacity: 0.8; }
  100% {
    transform: translateX(400px);
    opacity: 0; } }
html body #load {
  width: 100%;
  height: 100%;
  background: #3C3E75;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  z-index: 500; }
  html body #load #loading {
    width: 100%;
    height: 15px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #FFFFFF; }
    html body #load #loading .ct--load {
      width: 15px;
      height: 15px;
      background: #FFF;
      border-radius: 50%;
      margin-right: 15px;
      opacity: 0; }
      html body #load #loading .ct--load:nth-child(1) {
        animation: load 3s 700ms ease-in-out infinite; }
      html body #load #loading .ct--load:nth-child(2) {
        animation: load 3s 600ms ease-in-out infinite; }
      html body #load #loading .ct--load:nth-child(3) {
        animation: load 3s 500ms ease-in-out infinite; }
      html body #load #loading .ct--load:nth-child(4) {
        animation: load 3s 400ms ease-in-out infinite; }
      html body #load #loading .ct--load:nth-child(5) {
        animation: load 3s 300ms ease-in-out infinite; }
      html body #load #loading .ct--load:nth-child(6) {
        animation: load 3s 200ms ease-in-out infinite; }

html body #site_content #aboutMeModule .module {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  html body #site_content #aboutMeModule .module .about_me h3 {
    font-size: 2.5em; }
  html body #site_content #aboutMeModule .module .about_me p {
    font-size: 1.5em; }
  html body #site_content #aboutMeModule .module .about_me .logoAbout .logoImgAbout {
    width: 200px; }

html body #site_content #galleryModule .module {
  width: 95%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex; }
  html body #site_content #galleryModule .module #gallery {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    html body #site_content #galleryModule .module #gallery img {
      width: 300px;
      padding: 0 20px 20px 20px; }

html body #site_content #releaseModule .module {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  html body #site_content #releaseModule .module iframe {
    width: 70%;
    height: 300px;
    margin: 40px 0 60px; }
  html body #site_content #releaseModule .module h2 {
    width: 250px;
    margin: auto;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 10px 0 10px 0;
    text-transform: uppercase; }
  html body #site_content #releaseModule .module .ligne {
    width: 80%;
    height: 1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0)); }
  html body #site_content #releaseModule .module .section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px; }
    html body #site_content #releaseModule .module .section .elt {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-bottom: 30px; }
      html body #site_content #releaseModule .module .section .elt .main_cover {
        padding-bottom: 30px; }
      html body #site_content #releaseModule .module .section .elt .cover {
        width: 200px;
        height: 200px;
        display: block;
        margin: auto;
        transition: 0.3s all ease-in-out; }
      html body #site_content #releaseModule .module .section .elt .title {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase; }
      html body #site_content #releaseModule .module .section .elt .date {
        font-size: 0.8em;
        text-align: right;
        margin-bottom: 20px; }
      html body #site_content #releaseModule .module .section .elt .store {
        text-align: center; }

#formModule .module {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px; }
#formModule .contact-form {
  width: 100%;
  height: 100%;
  text-align: center; }
  #formModule .contact-form .logoImgForm {
    width: 200px; }
  #formModule .contact-form h3 {
    font-size: 2.5em; }
    @media all and (max-width: 500px) {
      #formModule .contact-form h3 {
        font-size: 1.5em; } }
  #formModule .contact-form #msg {
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in-out; }
    #formModule .contact-form #msg .send-msg-v {
      width: 100%;
      margin: auto;
      padding-bottom: 30px;
      font-size: 1.5em;
      text-align: center;
      color: greenyellow;
      display: none;
      transition: all 0.3s ease-in-out; }
    #formModule .contact-form #msg .send-msg-n {
      width: 100%;
      margin: auto;
      padding-bottom: 30px;
      font-size: 1.5em;
      text-align: center;
      color: red;
      display: none;
      transition: all 0.3s ease-in-out; }
  #formModule .contact-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media all and (max-width: 500px) {
      #formModule .contact-form form {
        margin-bottom: 30px; } }
    #formModule .contact-form form input {
      font-size: 1em;
      width: 470px;
      height: 40px;
      padding: 0 15px 0 15px;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      background: #000;
      outline: none;
      color: #ccc;
      border: solid 2px #333;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out; }
      @media all and (max-width: 500px) {
        #formModule .contact-form form input {
          width: 85%; } }
      #formModule .contact-form form input:focus {
        border: solid 2px #3C3E75; }
      #formModule .contact-form form input:hover {
        border: solid 2px #999; }
    #formModule .contact-form form textarea {
      font-size: 1em;
      width: 470px;
      padding: 10px 15px 0 15px;
      margin-bottom: 10px;
      font-family: 'Roboto', sans-serif;
      background: #000;
      outline: none;
      color: #ccc;
      border: solid 2px #333;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out; }
      @media all and (max-width: 500px) {
        #formModule .contact-form form textarea {
          width: 85%; } }
      #formModule .contact-form form textarea:focus {
        border: solid 2px #3C3E75; }
      #formModule .contact-form form textarea:hover {
        border: solid 2px #999; }
    #formModule .contact-form form .submit-form {
      font-weight: bold; }
      @media all and (max-width: 500px) {
        #formModule .contact-form form .submit-form {
          width: 85%; } }
      @media all and (max-height: 850px) {
        #formModule .contact-form form .submit-form {
          margin-bottom: 70px; } }
      #formModule .contact-form form .submit-form:hover {
        background: #999;
        color: #000;
        cursor: pointer; }

@media all and (max-width: 400px) {
  html body {
    background: #232323 !important; }
    html body #site_content {
      width: 100vh !important;
      height: 500px;
      margin-bottom: 0 !important;
      justify-content: initial !important; }
      html body #site_content #menu {
        width: 100% !important;
        padding-top: 0 !important;
        margin-top: 0 !important;
        right: initial !important;
        justify-content: initial !important;
        position: absolute !important;
        overflow: hidden; }
        html body #site_content #menu #mobileMenu {
          width: 100%;
          height: 40px;
          background: #3C3E75;
          display: flex !important; }
          html body #site_content #menu #mobileMenu .mobileMenuImg {
            width: 50%;
            height: 40px; }
            html body #site_content #menu #mobileMenu .mobileMenuImg:nth-child(1) {
              padding-left: 10px;
              display: flex;
              justify-content: flex-start;
              align-items: center; }
            html body #site_content #menu #mobileMenu .mobileMenuImg:nth-child(2) {
              padding-right: 10px;
              display: flex;
              justify-content: flex-end;
              align-items: center; }
            html body #site_content #menu #mobileMenu .mobileMenuImg svg {
              width: 30px;
              height: 30px; }
              html body #site_content #menu #mobileMenu .mobileMenuImg svg:hover {
                cursor: pointer; }
            html body #site_content #menu #mobileMenu .mobileMenuImg .arrowImg {
              display: none !important; }
        html body #site_content #menu .logoImg {
          width: 200px !important;
          padding-top: 10px !important;
          padding-bottom: 0 !important;
          margin-bottom: 10px !important; }
        html body #site_content #menu .view--mob {
          width: 200px;
          height: 160px !important;
          margin: auto;
          display: block !important; }
          html body #site_content #menu .view--mob .mob {
            display: flex; }
            html body #site_content #menu .view--mob .mob .menu_content {
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center; }
              html body #site_content #menu .view--mob .mob .menu_content svg {
                width: 80px;
                height: 80px; }
                html body #site_content #menu .view--mob .mob .menu_content svg:hover {
                  cursor: pointer; }
                html body #site_content #menu .view--mob .mob .menu_content svg svg path {
                  fill: #FFFFFF; }
        html body #site_content #menu #socialMenu {
          display: none !important; }
      html body #site_content .overlay #mobileMenu {
        width: 100%;
        height: 40px;
        background: #3C3E75;
        display: flex !important; }
        html body #site_content .overlay #mobileMenu .mMImg {
          width: 50%;
          height: 40px; }
          html body #site_content .overlay #mobileMenu .mMImg:nth-child(1) {
            padding-left: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center; }
          html body #site_content .overlay #mobileMenu .mMImg:nth-child(2) {
            padding-right: 10px;
            display: flex;
            justify-content: flex-end;
            align-items: center; }
          html body #site_content .overlay #mobileMenu .mMImg img {
            width: 30px;
            height: 30px; }
            html body #site_content .overlay #mobileMenu .mMImg img:hover {
              cursor: pointer; }
    html body footer {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      height: 55px !important; }
      html body footer .footerElt {
        width: 100% !important; }
        html body footer .footerElt:nth-child(1) {
          width: 100% !important;
          margin: auto !important;
          text-align: center !important; }
        html body footer .footerElt:nth-child(2) {
          width: 100% !important;
          right: 0 !important;
          display: block !important;
          margin: auto !important; }
        html body footer .footerElt .footerLink {
          width: 100% !important;
          margin: auto !important;
          text-align: center !important; } }
html body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.9)), url("../../asset/background/tetuna_background_credit_batvision.jpg") no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* ----        ---- *\
  |       FOOTER       |
  \* ----        ---- */ }
  html body .--svg path {
    fill: #FFFFFF; }
  html body a {
    text-decoration: none;
    color: #999;
    transition: all 0.2s; }
    html body a:hover {
      color: #FFF; }
  html body #site_content {
    width: 100%;
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    /* ----      ---- *\
    |       MENU       |
    \* ----      ---- */
    /* ----         ---- *\
    |       OVERLAY       |
    \* ----         ---- */ }
    html body #site_content #menu {
      width: 350px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 100px; }
      html body #site_content #menu #mobileMenu {
        display: none; }
      html body #site_content #menu .view--mob {
        display: none; }
      html body #site_content #menu .logoImg {
        width: 350px;
        margin: auto;
        padding-bottom: 30px;
        display: flex;
        justify-content: center; }
      html body #site_content #menu #socialMenu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        html body #site_content #menu #socialMenu .menu_content {
          width: 100%;
          height: 80px;
          cursor: pointer;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          transition: all 0.3s ease-in-out; }
          html body #site_content #menu #socialMenu .menu_content:hover {
            transform: translateX(-25px); }
          html body #site_content #menu #socialMenu .menu_content .nav {
            height: 60px;
            display: flex;
            animation: translateHover 3s ease-in-out;
            transition: all 0.3s; }
            html body #site_content #menu #socialMenu .menu_content .nav .nm {
              text-transform: uppercase;
              color: #999;
              font-size: 2em;
              margin-right: 50px;
              line-height: 60px;
              vertical-align: middle;
              transition: all 0.3s; }
              html body #site_content #menu #socialMenu .menu_content .nav .nm:hover {
                color: #FFFFFF; }
            html body #site_content #menu #socialMenu .menu_content .nav .icon {
              width: 60px;
              height: 60px; }
    html body #site_content .overlay {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95));
      color: #FFFFFF;
      display: none;
      overflow: auto; }
      html body #site_content .overlay .close {
        width: 90%;
        position: fixed;
        padding-top: 40px;
        display: flex;
        justify-content: flex-end; }
      html body #site_content .overlay .closeBtn {
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: all 0.3s; }
        html body #site_content .overlay .closeBtn:hover {
          width: 30px;
          height: 30px;
          animation: spin 0.3s linear; }
  html body footer {
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    font-size: 0.65em;
    color: #666;
    display: flex;
    align-items: center; }
    html body footer .footerElt {
      width: 50%; }
      html body footer .footerElt:nth-child(1) {
        color: #999;
        margin-left: 20px; }
      html body footer .footerElt:nth-child(2) {
        position: relative;
        right: 40px;
        display: flex;
        justify-content: flex-end; }
      html body footer .footerElt .footerLink {
        margin-right: 20px; }

/*# sourceMappingURL=style.css.map */
